<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Calderilla.Client.WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Calderilla.Client.WinForms.Properties.Settings>
            <setting name="RutaOriol" serializeAs="String">
                <value>C:\Users\Oriol\Google Drive\Calderilla\OriolSerialitzacio.json</value>
            </setting>
            <setting name="RutaComuna" serializeAs="String">
                <value>C:\Users\Oriol\Google Drive\Calderilla\ComunaSerialitzacio.json</value>
            </setting>
            <setting name="RutaGoogleDrive" serializeAs="String">
                <value>C:\Users\Oriol\Google Drive\</value>
            </setting>
        </Calderilla.Client.WinForms.Properties.Settings>
    </applicationSettings>
</configuration>